<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hacredition.xph.hacredition">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".mvp.ui.activity.MainActivity"
            android:theme="@style/StatusBarTranslucentTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mvp.ui.activity.NewsDetailActivity"
            android:theme="@style/StatusBarTranslucentTheme"/>
        <activity android:name=".mvp.ui.activity.LoginActivity"
            android:theme="@style/StatusBarTranslucentTheme"/>
        <activity android:name=".mvp.ui.activity.RegisterActivity"
            android:theme="@style/StatusBarTranslucentTheme"/>
        <activity
            android:name=".mvp.ui.activity.InputComponentActivity"
            android:theme="@style/StatusBarTranslucentTheme"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".mvp.ui.activity.QueryComponentActivity"
            android:theme="@style/StatusBarTranslucentTheme"
            android:launchMode="singleTask"></activity>
    </application>

</manifest>